<%= form_for @activity do |f| %>
<div>
  <%= f.label :body%>
  <%= f.text_field :body %>
</div>


<%= f.submit, 'Create Next Step' %>
<%= link_to('Back to Activity', @activity.activity_path) %>

<% end %>

