

<%= form_for @activity do |f| %>

  <div>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div><br />

  <div>
    <%= f.label :author_name%>
    <%= f.text_field :author_name %>
  </div><br />

    <%= f.submit %>
<% end %>
