<!-- Homepage for signed in users -->
<% if user_signed_in? %>

    <h1>Signed In as <%= link_to current_user.email %></h1>

    <%= link_to('Create New Activity', new_activity_path ) %>

    <%= link_to('My Activities', @user.activities)

    <%= form_for :session, url: signout_path, method: 'delete' do |f| %>
      <%= current_user.email %>
    <%= f.submit 'Sign Out?', :class => 'button', id: 'signout' %>
  <% end %>


  <% else %>

<!-- Splash Page -->
<h2>Welcome to Moccasin!</h2>

<h3>Let's take a walk in someone else's shoes!</h3>

<div>
  <%= link_to('Sign Up', new_user_registration_path ) %>
<p>or</p>
  <%= link_to('Sign In', user_session_path ) %>
<p>and start sharing your own step-by-step guides to activities</p>
</div>

<% end %>
