<h1><%= @activity.title %></h1>
<p>by <%= @activity.author_name %></p>

<ol>
<% @activity.steps.each do |step| %>
<li><%= step.body %></li>
<% end %>
</ol>

<%= link_to('Add a Step for Activity', new_step_path(@activity)) %><br />
<%= link_to('View Activities', activities_path) %><br />
<%= link_to('Home', root_path) %>
